<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone Map 3D</title>

    <!-- Socket.IO client (version compatible with Flask-SocketIO) -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.7.5/dist/socket.io.min.js"></script>

        <!-- Three.js -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.146.0/build/three.min.js"></script>

    <!-- OrbitControls (classic non-module build, works with THREE global) -->
    <script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r146/examples/js/controls/OrbitControls.js"></script>

    <!-- CSS sheet -->
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css"/>
    
</head>
<body>
    <div id="viewer">
        <img class="camera-view" src="http://127.0.0.1:8080/snapshot?topic=/aruco_map/image">
    </div>
    <div id="sidebar">
        <p class='displayValue' id="batteryValueVolts"></p>
        <p class='displayValue' id="batteryValuePercentage"></p>
        <p class="coordsValue" id="coordValueX"></p>
        <p class="coordsValue" id="coordValueY"></p>
        <p class="coordsValue" id="coordValueZ"></p>
    </div>
    <script>
        // === Socket.IO ===

        const socket = io();  // connects to backend

        socket.on("connect", () => {
            console.log("Connected to server, waiting for live updates...");
        });

        socket.on("state", data => {
            console.log(data.voltage);
            document.getElementById("batteryValueVolts").textContent = "Battery voltage: " + data.voltage;
            document.getElementById("batteryValuePercentage").textContent = "Battery percentage:" + data.percentage;
        });

    </script>
</body>
</html>
